<div class="bg-dark">
    <div class="container text-light">
        <div class="d-inline p-1">
            <p class="h6">
                <span class="h5 mr-3">&copy; 2019</span>Tüm hakları saklıdır. 
                <span class="float-right mt-1">
                    <a href="https://www.linkedin.com/in/yusufsinabakan/" class="mr-2">
                        <i class="fab h4 fa-linkedin-in" style="color: #007bb6;"></i>
                    </a>
                    <a href="https://twitter.com/yusuf_sinabakan" class="mr-2">
                        <i class="fab h4 fa-twitter" style="color: #00aced;" ></i>
                    </a>
                    <a href="https://github.com/BakanYusufSina" >
                        <i class="fab h4 fa-github" style="color: white;"></i>
                    </a>
                </span>
            </p>
        </div>
    </div>
</div>