<div class="container">
    <div class="row mt-5">
        <div class="mx-auto col-md-3">
            <p style="font-family:fantasy;font-size: 750% !important;" class="mx-auto text-danger">404</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-6 mx-auto">
            <pre class="h3">Oooops.Böyle bir sayfa bulunamadı!</pre>
        </div>
    </div>
</div>