<div class="container">
    <div class="row mt-5">
        <div class="col-md-8 float-left text-center">
            <img src="/assets/img/freelance.jpg" width="60%"/>
        </div>
        <div class="col-md-4 p-4 my-auto">
            <p class="h4 text-justify">Bu site sayesinde öğrenciler kendilerini geliştirmek ve 
                para kazanmak için ilgi alanlarına göre işler bulabilirler.</p>
        </div>
    </div>
    <div class="row mt-5 mb-5">
        <div class="col-md-8 float-left">
            <img src="/assets/img/intern.png" width="100%"/>
        </div>
        <div class="col-md-4 p-4 my-auto">
            <p class="h4 text-justify">Ayrıca staj imkanları için şirketlerin ilanlarına göz atabilirsiniz.</p>
            <p class="h4">Hadi durma sende kayıt ol!</p>
        </div>
    </div>
</div>